
<script src='scripts/ng.js'></script>
<script src='scripts/day.js'></script>



<style>


    td {
        text-align: left;
        border: 1px solid lightgray;
    }

    th {
        font-size: 10px;
        text-align: center;
    }
</style>
<script>
    var scope;
    var countDownDate = (new Date()).getTime();
    angular.module('app', [])
        .controller('app', function ($scope, $http, $timeout,$interval) {
            scope = $scope;
            $scope.newMission = {}

            if (localStorage['selectedplan'] != null)
                $scope.selectedplan = localStorage['selectedplan'];



            if (localStorage['localMissions'] == null) {
                $scope.missions = {};
                localStorage['localMissions'] = '{}';
            } else {
                $scope.missions = JSON.parse(localStorage['localMissions']);
            }

            if (localStorage['commentsMissions'] == null) {
                $scope.commentsMissions = {};
                localStorage['commentsMissions'] = '{}';
            } else {
                $scope.commentsMissions = JSON.parse(localStorage['commentsMissions']);
            }

            $scope.missionsPercentage = {}
            var i = 1;
            for (var prop in $scope.missions) {
                i++;
            }
            $scope.counter = i - 1;

            $scope.restartMissionsOrders = function () {
                $scope.missionsorder = {};
                var i = 1;
                for (var prop in $scope.missions)
                    $scope.missionsorder[i++] = prop;
                $scope.counter = i - 1;
                localStorage['missionsorder'] = JSON.stringify($scope.missionsorder);
            }

            if (localStorage['missionsorder'] == null) {
                $scope.restartMissionsOrders();
            } else {
                $scope.missionsorder = JSON.parse(localStorage['missionsorder']);
            }

            $scope.futurePlans = {}
            if (localStorage['futurePlans'] == null) {
                $scope.futurePlans = {};
                localStorage['futurePlans'] = '{}';
            } else {
                $scope.futurePlans = JSON.parse(localStorage['futurePlans']);
            }

            $scope.totalHours = 0;
            $scope.countTotals = function () {
                $scope.totalHours = 0;

                for (var prop in $scope.futurePlans) {
                    $scope.totalHours += $scope.futurePlans[prop].hour;
                }
                var prevHours = 0;
                for (var prop in $scope.missionsorder)
                    if ($scope.futurePlans[$scope.missionsorder[prop]]) {
                        $scope.futurePlans[$scope.missionsorder[prop]].prevHours = prevHours;
                        prevHours += $scope.futurePlans[$scope.missionsorder[prop]].hour;
                    }
            }
            $scope.countTotals();

            $scope.showPercetage = function (hours) {
                if (hours)
                    return Math.floor(1000 * hours / $scope.totalHours) / 10 + '%';
                return '0';
            }

            $scope.addNewMission = function () {
                var missionsNumber = 0;
                for (var param in $scope.missions)
                    missionsNumber = missionsNumber < Number(param) ? Number(param) : missionsNumber;
                missionsNumber++;
                missionsNumber = Math.floor(missionsNumber);

                $scope.missions[missionsNumber] = $scope.newMission.number;
                localStorage['localMissions'] = JSON.stringify($scope.missions)

                $scope.counter++;
                $scope.missionsorder[$scope.counter] = missionsNumber;
                localStorage['missionsorder'] = JSON.stringify($scope.missionsorder);
                $scope.newMission = {};
            }

            $scope.saveChange = function () {
                localStorage['localMissions'] = JSON.stringify($scope.missions);
            }

            $scope.deleteMission = function (akey) {
                if (confirm('Are you sure you want to delete that mission ?') != true)
                    return;

                delete $scope.futurePlans[akey];
                delete $scope.commentsMissions[akey];
                delete $scope.missions[akey];
                localStorage['localMissions'] = JSON.stringify($scope.missions)
                var i = 1;
                var newOrder = {}
                for (var prop in $scope.missionsorder)
                    if ($scope.missions[$scope.missionsorder[prop]])
                        newOrder[i++] = $scope.missionsorder[prop];
                $scope.counter = i - 1;
                $scope.missionsorder = newOrder;
                localStorage['missionsorder'] = JSON.stringify($scope.missionsorder);
                localStorage['commentsMissions'] = JSON.stringify($scope.commentsMissions);
                localStorage['futurePlans'] = JSON.stringify($scope.futurePlans);
            }

            $scope.selectMission = function (akey) {

                $scope.newMission.number = akey == $scope.newMission.number ? null : akey;
            }

            $scope.orderUpMission = function (missionorder) {
                if (missionorder == 1)
                    return;
                var temp = $scope.missionsorder[missionorder];
                $scope.missionsorder[missionorder] = $scope.missionsorder[missionorder - 1];
                $scope.missionsorder[missionorder - 1] = temp;
                localStorage['missionsorder'] = JSON.stringify($scope.missionsorder);
                $scope.countTotals();
            }
            $scope.orderFirstMission = function (missionorder) {
                //var temp = $scope.missionsorder[missionorder];
                //$scope.missionsorder[missionorder] = $scope.missionsorder[1];
                for (var i = missionorder; i > 1; i--) {
                    $scope.orderUpMission(i);
                }
                // $scope.missionsorder[1] = temp;
                localStorage['missionsorder'] = JSON.stringify($scope.missionsorder);
                $scope.countTotals();
            }

            $scope.setHoursForMission = function (missionnumber, hoursAmount) {
                hoursAmount.hour = Number(hoursAmount.hour)
                $scope.futurePlans[missionnumber.toString()] = hoursAmount;
                localStorage['futurePlans'] = JSON.stringify($scope.futurePlans);
                $scope.hoursAmount = null;
                $scope.countTotals();
            }

            $scope.addHour = function (missionNumber) {
                if ($scope.futurePlans[missionNumber] == null || $scope.futurePlans[missionNumber].hour == 0)
                    return $scope.futurePlans[missionNumber] = { hour: 1 };
                $scope.futurePlans[missionNumber].hour++;
                localStorage['futurePlans'] = JSON.stringify($scope.futurePlans);
                $scope.countTotals();
            }

            $scope.subHour = function (missionNumber) {
                if ($scope.futurePlans[missionNumber] == null || $scope.futurePlans[missionNumber].hour == 0 || $scope.futurePlans[missionNumber].hour == 1)
                    delete $scope.futurePlans[missionNumber];
                else {
                    $scope.futurePlans[missionNumber].hour--;
                    $scope.countTotals();
                }
                localStorage['futurePlans'] = JSON.stringify($scope.futurePlans);
            }


            $scope.commentsMissionsChange = function () {
                localStorage['commentsMissions'] = JSON.stringify($scope.commentsMissions)
            }

            $scope.dowload = function () {

                var backup = {};
                backup.commentsMissions = JSON.parse(localStorage['commentsMissions']);
                backup.futurePlans = JSON.parse(localStorage['futurePlans']);
                backup.missionsorder = JSON.parse(localStorage['missionsorder']);
                backup.localMissions = JSON.parse(localStorage['localMissions']);
                saveContent(JSON.stringify(backup), dayjs(new Date()).format('YYYYMMDDHHmm') + '.json', 'application/json');
            }


            $scope.updaload = function () {
                input = document.getElementById('theFile');

                if (!input) {
                    alert("Um, couldn't find the fileinput element.");
                } else if (!input.files) {
                    alert("This browser doesn't seem to support the `files` property of file inputs.");
                }
                else if (!input.files[0]) {
                    alert("Please select a file before clicking 'Load'");
                }
                else {
                    file = input.files[0];
                    fr = new FileReader();
                    fr.onload = receivedText;
                    fr.readAsText(file);
                }
            }

            $scope.todaydayInWeek = dayjs().$W;
            $scope.DaysInWeek = [0, 1, 2, 3, 4, 5, 6];

            $scope.DaysNames = {
                0: 'א',
                1: 'ב',
                2: 'ג',
                3: 'ד',
                4: 'ה',
                5: 'ו',
                6: 'ש',
            };

            var firstweek = {};
            firstweek[$scope.todaydayInWeek] = 't';
            $scope.WeeksInYear = [firstweek];

            for (var i = 0; i < 49; i++)
                $scope.WeeksInYear.push({});


            $scope.PublishMissionPlans = function () {
                if ($scope.counter == 0)
                    return alert('It is empty !');
                if ($scope.PublishName == null || $scope.PublishName == '')
                    return alert('Select a name !');

                var SendObj = {};

                SendObj.commentsMissions = JSON.parse(localStorage['commentsMissions']);
                SendObj.futurePlans = JSON.parse(localStorage['futurePlans']);
                SendObj.missionsorder = JSON.parse(localStorage['missionsorder']);
                SendObj.localMissions = JSON.parse(localStorage['localMissions']);

                SendObj = JSON.stringify(SendObj)
                $http.post('/Missions/PublishMissionPlans', { description: SendObj, name: $scope.PublishName })
                    .then(res => { window.location.reload(); })
            }


            $scope.datesOfUsers

            $scope.getData = function () {
                $http.get('/Missions/GetMissionsPlans')
                    .then(res => {
                        $scope.users = {};
                        $scope.data = res.data;
                        for (var i = 0; i < $scope.data.length; i++) {
                            if ($scope.users[$scope.data[i].assigneduser] == null)
                                $scope.users[$scope.data[i].assigneduser] = [];

                            $scope.users[$scope.data[i].assigneduser].push($scope.data[i]);
                        }


                    })
            }

            //$scope.getData();

            $scope.format = function (theDate) {
                return dayjs(theDate).format('DD/MM/YYYY')
            }

            $scope.downLoadUserPlan = function (userDetails) {
                $scope.selectedplan = userDetails.id;
                localStorage['selectedplan'] = JSON.stringify(userDetails.id);
                var newPlan = JSON.parse(userDetails.description);
                localStorage['commentsMissions'] = JSON.stringify(newPlan.commentsMissions);
                localStorage['futurePlans'] = JSON.stringify(newPlan.futurePlans);
                localStorage['missionsorder'] = JSON.stringify(newPlan.missionsorder);
                localStorage['localMissions'] = JSON.stringify(newPlan.localMissions);
                window.location.reload();

            }


            $scope.selectUser = function (userName) {
                $scope.selectedUser = userName;
            }

            $scope.deletePlanFromServer = function () {
                if ($scope.selectedplan == null)
                    alert('not selected mission')
                if (confirm('Are you sure you want to delete that mission from SERVER ?') != true)
                    return;
                delete localStorage.commentsMissions;
                delete localStorage.futurePlans;
                delete localStorage.missionsorder;
                delete localStorage.localMissions;
                delete localStorage.selectedplan;

                $http.get('/Missions/Delete?id=' + $scope.selectedplan)
                    .then(x => {
                        if (x.data.success == true)
                            alert('missions was deleted')
                        else
                            alert('mission was not assined to you ! mission was not deleted')
                        window.location.reload()
                    });

            }

            $scope.runTest = function (missionnumber) {
                var strToEvalRun = $scope.commentsMissions[missionnumber];
                eval(strToEvalRun)
            }

            $scope.logs = []

            $scope.addLog = function (message) {
                $scope.logs.unshift({ message: message, time: dayjs().format('YYYY/MM/DD HH:mm:ss') });
                // $scope.$apply();
            }

            $scope.arrOfFunctions = [];
            $scope.runAllTests = function () {

                $scope.arrOfFunctions = [];
                for (key in $scope.missionsorder)
                    $scope.arrOfFunctions.push($scope.missionsorder[key]);

                $scope.runNextFunction();
            }

            if(localStorage["timeOutSeconds"] == null)
                localStorage["timeOutSeconds"] = 10;
            $scope.timeOutSeconds = localStorage["timeOutSeconds"];
            if(localStorage["RunAlways"] == null)
                localStorage["RunAlways"] = true;
            $scope.RunAlways = localStorage["RunAlways"];
            if($scope.RunAlways == null)
                $scope.RunAlways = true;

            // $interval(function(){
            //     if($scope.RunAlways==true)
            //         $scope.runAllTests();
            // }, 1000)
            

            $scope.runInEveryMinutes = 10;
            $scope.theInterval =
                $scope.loopTestsRuning = function () {

                }

            $scope.runNextFunction = function () {
                if ($scope.arrOfFunctions.length > 0) {
                    eval($scope.commentsMissions[$scope.arrOfFunctions[0]]);
                    $timeout(function () {
                        $scope.arrOfFunctions.splice(0, 1);
                        $scope.runNextFunction();
                    }, $scope.futurePlans[$scope.arrOfFunctions[0]] ? $scope.futurePlans[$scope.arrOfFunctions[0]].hour * 1000 : 1000);
                }
            }

        });

    function receivedText(e) {
        let lines = e.target.result;
        var allMissions = JSON.parse(lines);
        localStorage['commentsMissions'] = JSON.stringify(allMissions['commentsMissions']);
        localStorage['futurePlans'] = JSON.stringify(allMissions['futurePlans']);
        localStorage['missionsorder'] = JSON.stringify(allMissions['missionsorder']);
        localStorage['localMissions'] = JSON.stringify(allMissions['localMissions']);
        window.location.reload();
    }

    function resetMissions() {
        if (confirm('Are you sure you want to delete that mission ?') != true)
            return;
        delete localStorage.commentsMissions;
        delete localStorage.futurePlans;
        delete localStorage.missionsorder;
        delete localStorage.localMissions;
        delete localStorage.selectedplan;

        window.location.reload();
    }


    console.oldlog = console.log;
    console.log = function (message) {
        scope.addLog(message);
        console.oldlog(message);
    }


    console.olderror = console.error;
    console.error = function (message) {
        scope.addLog(message);
        console.olderror(message);
    }


    var styleSelected = null;
    var movingElement = null;
    function setEvents() {
        let elements = document.getElementsByClassName("sezesInputs");
        for (let i = 0; i < elements.length; i++) {
            elements[i].onmousedown = function (el, e) {
                movingElement = el.currentTarget;
                movingElement.startFromX = el.x;
                movingElement.startFromY = el.y; 
                movingElement.prevValue = movingElement.value
                if (movingElement.prevValue == null || movingElement.prevValue == "")
                    movingElement.prevValue = 0;

                if (el.currentTarget.id)
                    styleSelected = el.currentTarget.id.substr(3);
                
            }

            elements[i].ondblclick = function (el, e) {
                if (el.currentTarget.id)
                   // delete testWindow.style[el.currentTarget.id.substr(3)];
                    testWindow.style[el.currentTarget.id.substr(3)] = '0';
                movingElement = el.currentTarget.value = "";
            }

            elements[i].onchange = function (el, e) {
                if (el.currentTarget.id && el.currentTarget.id.indexOf("color") > -1)
                    testWindow.style[el.currentTarget.id.substr(3)] = el.currentTarget.value;
            }

            
        }
    }

    window.onload = function () {
        setEvents();
     
     
    };

    onmouseup = function (el, e) {
        movingElement = null;
        styleSelected = null;
    }
    onmousemove = function (e) {
          var pos = e;
          if (movingElement) {
              if (movingElement.id && movingElement.id.indexOf("color") == -1) {
                  movingElement.value = Number(movingElement.prevValue) + pos.x - movingElement.startFromX
                      - pos.y + movingElement.startFromY;

                  testWindow.style[styleSelected] = movingElement.value + 'px';
              }
          }
    }   


</script>
<style>
    .dayInClendar:hover {
        background-color: #ccc;
    }
    *{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .sezesInputs {
        width:30px;
        font-size:9px;
        border:1px solid #ddd;
    }
    .sizesBorders {
        border: 1px solid lightgrey;
        margin: auto;
        
    }
    
    #testWindow {
        position:fixed;
        border:1px solid red
    }
</style>
<div ng-app="app" ng-controller="app" style="padding: 20px;">

    <div id="testWindow">g</div>
    <br /><br />
    <table style="width:100%">
        <tr>
            <th>mission name</th>
        </tr>
        <tr>
            <td>
                <input list="missions" ng-model="newMission.number" placeholder="number">
                <datalist id="missions">
                    <option ng-repeat="(key ,val) in missions" value="{{key}}">{{val}}</option>
                </datalist>
                <input type="button" value="Add new mission" class="btn btn-success btn-xs" ng-click="addNewMission()" ng-hide="missions[newMission.number]" />
            </td>
            <td>
                <button ng-click="runAllTests()">run tests</button>
            </td>
        </tr>
    </table>
    <hr>
    <table style="width: 100%;">
        <tr class="row">
            <th class="col-md-4">Name</th>
            <th class="col-md-8">Gantt</th>
        </tr>
        <tbody ng-repeat="(missionorder,missionnumber) in missionsorder">
            <tr class="row">
                <td class="col-md-2" style="text-align:center;background-color:{{arrOfFunctions[0]==missionnumber?'lightgray':'white'}}">
                    <span class="btn btn-xs btn-default" style="float:left" ng-click="orderUpMission(missionorder)">^</span>
                    <span ng-click="selectMission(missionnumber)" style="cursor:pointer">
                        {{missions[missionnumber]}}
                    </span>
                </td>
                <td class="col-md-10" style="width:700px;cursor:pointer;text-align:center;" ng-click="selectMission(missionnumber)">
                    <div style="border-radius:10px;height:20px;float:left;background-color:white;width:{{showPercetage(futurePlans[missionnumber].prevHours)}}"></div>
                    <div style="border-radius: 10px;height: 20px; float: left;color:white; background-color: #0094ff; width:{{showPercetage(futurePlans[missionnumber].hour)}}">
                        {{futurePlans[missionnumber].hour}}
                    </div>
                </td>
            </tr>
            <tr ng-show='missionnumber==newMission.number'>
                <td colspan="100">
                    <div style="float:left;width: 60%;">
                        <span class="btn btn-xs btn-default" style="float:left" ng-click="orderFirstMission(missionorder)">Make first priority</span>
                        <span class="btn btn-xs btn-danger" style="float:right" ng-click="deleteMission(missionnumber)" ng-hide="missions[missionnumber]==null">delete</span>
                        <span ng-if="futurePlans[missionnumber]" class="btn btn-xs btn-default" ng-click="subHour(missionnumber)">-</span>
                        <input ng-if="futurePlans[missionnumber]" ng-model="futurePlans[missionnumber].hour" ng-blur="setHoursForMission(missionnumber,futurePlans[missionnumber])" style="width:25px;border:0" />
                        <span class="btn btn-xs btn-default" ng-click="addHour(missionnumber)">+</span>
                        <br />
                        <textarea ng-model="commentsMissions[missionnumber]" ng-change="commentsMissionsChange()"
                                style="height:300px;width:100%;max-width:1900px !important"></textarea>
                        <input class="btn btn-xs btn-default" value="Run" ng-click="runTest(missionnumber)" />
                    </div>      
      
                    <div style="float:right; width:39%">
                        <div style="margin:auto;width:40px"><input class="sezesInputs" id="settop" placeholder="top" /></div>

                        <div style="float:right">
                            <input class="sezesInputs" id="setright" placeholder="right" style="margin-top:72px" />
                        </div>
                        <div style="float:left">
                            <input class="sezesInputs" id="setleft" placeholder="left" style="margin-top:72px" />
                        </div>
                        <div class="sizesBorders" style="width:360px">
                            <div style="margin:auto;width:80px"><input class="sezesInputs" id="setmargin" placeholder="margin" /><input class="sezesInputs" id="setmargin-top" placeholder="m top" /></div>


                            <div style="float:right">
                                <input class="sezesInputs" id="setmargin-right" placeholder="right" style="margin-top:50px" />
                            </div>
                            <div style="float:left">
                                <input class="sezesInputs" id="setmargin-left" placeholder="m left" style="margin-top:50px" />
                            </div>
                            <div class="sizesBorders" style="width:280px">
                                <div style="float:left">
                                    <input class="sezesInputs" id="setborder-top-left-radius" placeholder="radius" />
                                </div>
                                <div style="float:right">
                                    <input class="sezesInputs" id="setborder-top-right-radius" placeholder="radius" />
                                </div>
                                <div style="margin:auto;width:80px"><input class="sezesInputs" id="setborder-width" placeholder="border" /><input class="sezesInputs" id="setborder-top-width" placeholder="b top" /></div>


                                <div style="float:right">
                                    <input class="sezesInputs" id="setborder-right-width" placeholder="b right" style="margin-top:28px" />
                                </div>
                                <div style="float:left">
                                    <input class="sezesInputs" id="setborder-left-width" placeholder="b left" style="margin-top:28px" />
                                </div>
                                <div class="sizesBorders" style="width:200px">
                                    <div style="margin:auto;width:80px"><input class="sezesInputs" id="setpadding" placeholder="padding" /><input class="sezesInputs" id="setpadding-top" placeholder="p top" /></div>


                                    <div style="float:right">
                                        <input class="sezesInputs" id="setpadding-right" placeholder="p right" style="margin-top:5px" />
                                    </div>
                                    <div style="float:left">
                                        <input class="sezesInputs" id="setpadding-left" placeholder="p left" style="margin-top:5px" />
                                    </div>
                                    <div class="sizesBorders" style="width:70px">
                                        <input class="sezesInputs" id="setwidth" placeholder="width" />
                                        <input class="sezesInputs" id="setheight" placeholder="height" />
                                    </div>

                                    <div style="margin:auto;width:40px"><input class="sezesInputs" id="setpadding-bottom" placeholder="p bottom" /></div>

                                </div>
                                <div style="float:left">
                                    <input class="sezesInputs" id="setborder-bottom-left-radius" placeholder="radius" />
                                </div>
                                <div style="float:right">
                                    <input class="sezesInputs" id="setborder-bottom-right-radius" placeholder="radius" />
                                </div>
                                <div style="margin:auto;width:40px"><input class="sezesInputs" id="setborder-bottom-width" placeholder="b bottom" /></div>

                            </div>

                            <div style="margin:auto;width:40px"><input class="sezesInputs" id="setmargin-bottom" placeholder="m bottom" /></div>
                        </div>
                        <div style="margin:auto;width:40px"><input class="sezesInputs" id="setbottom" placeholder="bottom" /></div>

                        <input class="sezesInputs" id="setfont-size" placeholder="font-size" />
                        <label>text</label>
                        <input type="color" class="sezesInputs" id="setcolor">
                        <label>back ground</label>
                        <input type="color" class="sezesInputs" id="setbackground-color">
                        <label>border</label>
                        <input type="color" class="sezesInputs" id="setborder-color">
                    </div>
          </td>
            </tr>
        </tbody>
    </table>
    <br /><br />
    logs
    <table style="width:100%">
        <tr ng-repeat="logrow in logs">
            <td style="width:180px">{{logrow.time}}</td>
            <td>{{logrow.message}}</td>
        </tr>
    </table>
    <br /><br />
    <div class="container">
        <br /><br />
        <span class="dropdown" ng-repeat="(key,value) in users">
            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                {{key}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="plans in value">
                    <a href="#" ng-click="downLoadUserPlan(plans)">{{plans.name}} {{format(plans.actviedate)}}</a>
                </li>
            </ul>
        </span>
    </div>
    <footer style="height: 40px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0.5);
        font-family: sans-serif;">
        <div class="container">
            <button class="btn btn-success" ng-click="PublishMissionPlans()">Publish</button>
            <input ng-model="PublishName" />|
            <button class="btn btn-success" ng-click="dowload()">DownLoad </button>
            <button style="float:right;margin:3px" class="btn btn-danger" ng-show="selectedplan" ng-click="deletePlanFromServer()">Server </button>
            <button style="float:right;margin:3px" class="btn btn-danger" onclick="resetMissions()">Local </button>
            <input type="file" id="theFile" style="float:right" />
            <button style="float:right;margin:3px" class="btn btn-primary" ng-click="updaload()">Upload </button>
        </div>
    </footer>
</div>
